header{
    font-family: Disney, Verdana, Tahoma, sans-serif;
    color: white;
    font-size: 32px;
}
.marco1{
    border: rgb(2, 122, 152) solid;
    font-family: Disney, Verdana, Tahoma, sans-serif;
    /* color: black;*/ 
	color: white;
    /* font-size: 32px;*/
}
.fondoP{
    background-color: #1a244a;
	color: white;
	font-family: Disney, Verdana, Tahoma, sans-serif;
}
.marco2{
    border: solid rgb(252, 3, 3);  
}
.marco3{
    border: solid rgb(15, 128, 2);
}
span{
    color: orangered;
}
p{
    background-color: #1a244a;
    /*background-color: #e3eb0e;*/
}
.color{
    color: rgb(10, 10, 10);
}
.color1{
    color: rgb(20, 3, 249);
}
.color2{
    color: rgb(251, 4, 13);
}
.color3{
    color: rgb(2, 157, 10);
}
.img1{
	width: 100px;
	height: 100px
}