.img1{
    width: 500px;
    height: 220px;
}
.fondo{
    background-color: #7e7e7f;
}
.contenedor{
    display: flex;
    justify-content: center;
}
h2{
    color: white;
}
ul{
    color: white;
}
p{
    color: blue;
}